body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

tr td,th td{
  text-align: left;
}

.searchBar{
  display: flex;
  margin-bottom: 60px;
}

.table thead th{
  text-align: left;
}